body {
  margin: 0;
}

@font-face {
  font-family: Socialico;
  src: url('../fonts/Socialico/Socialico.ttf');
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}

.main-header {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
  color: #fff;
  font-family: Arial;
}

.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-header-wrp {
  width: 458px;
  float: left;
/*   border: 1px solid white;
   */}

.main-header-title {
  margin: 0 0 10px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.main-header-list {
  padding: 0 0 0 30px;
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.main-header-list-item {
  list-style-type: none;
  position: relative;
}

.main-header-list-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('img/mcheck12.png');
  -webkit-background-size: cover;
  background-size: cover;
/*   border: 1px solid #fff;
   */  position: absolute;
  top: 10px;
  left: -27px;
}

.main-header-img {
  display: block;
  width: 469px;
  min-height: 214px;
  float: right;
  background-color: #fff;
}

.content {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Arial;
}

.about-product {
  margin: 0;
  padding: 50px;
}

.about-product-text {
  float: left;
  width: 660px;
  height: 245px;
}

video {
  display: block;
  width: 430px;
  min-height: 245px;
  float: right;
  background-color: #445161;
}

.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}


h2 {
  font-size: 30px;
  margin-top: 0;
  color: #445161;
  text-align: center;
  font-weight: 400;
  width: 100%;
}

#first-h2 {
  text-align: left;
}

.about-product-p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 15px 0;
}

.about-product-p:nth-child(3) {
  margin-bottom: 0;
}

.dignity {
  margin: 0;
  padding: 50px;
}

.dignity:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.dignity-pluses li {
  display: block;
  width: 47%;
  float: left;
  margin: 0 34px 25px 0;
  padding-top: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.dignity-pluses li:nth-child(5) {
  margin-bottom: 0;
}

.dignity-pluses li:nth-child(6) {
  margin-bottom: 0;
}

.dignity-pluses-item {
  list-style-type: none;
  position: relative;
}
  
.dignity-pluses-item:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('img/plus.jpg');
  -webkit-background-size: cover;
  background-size: cover;
/*   border: 1px solid #fff;
   */  position: absolute;
  top: 15px;
  left: -35px;
}

.screenshots {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshots-wrapper {
  width: 574px;
  margin: 0 0 30px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.screenshots-photo {
  display: block;
  width: 200px;
  height: 150px;
  background-color:  #445161;
}

.screenshots-photo-wrapper {
  width: 359px;
}

h3 {
  display: block;
  margin: 0 0 15px 0;
  font-family: Arial;
  color:  #445161;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.screenshots-p {
  margin: 0;
  font-family: Arial;
  color:  #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.reviews {
  width: 100%;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-block {
  width: 574px;
  margin: 0 0 30px 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.review-img {
  display: block;
  width: 75px;
  height: 75px;
  background-color: #445161;
  border-radius: 100%;
}

.review-txt {
  display: block;
  width: 470px;
  min-height: 121px;
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.review-txt:before {
  content: "";
  display: block;
  border: 15px solid transparent; 
  border-right: 15px solid #ebebeb;
  position: absolute;
  top: 20px;
  left: -30px;
}

.review-block-cmnt {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #000;
}

.sign {
  display: block;
  margin: 10px 0 0 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  font-style: normal;
}

.price {
  width: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.price-item {
  width: 300px;
  min-height: 100px;
  margin: 0 50px 0 0;
  padding: 0 0 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #445161;
  background-color: #445161;
  color: #fff;
  border-radius: 5px;
}

.price-item:last-child {
  margin: 0;
}

.price-item-title {
  text-align: center;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
}

.price-item-cost {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.price-item-list {
  list-style-position: inside;
  padding: 15px 0 20px 20px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.price-item-btn {
  display: block;
  width: 260px;
  height: 40px;
  margin: 0 auto;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: #445161;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.price-item-btn:hover {
  background-color: #445161;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.price-item-btn:active {
  background-color: #fff;
  color: #445161;
}

.main-footer {
  width: 100%; 
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  font-family: Arial;
  position: relative;
  background-color: #445161;
}

.main-footer-title {
  color: #fff;
  height: 36px;
  font-family: Arial;
}

.main-footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 0 46px 0 0;
}

.main-footer-form input[type="text"],
.main-footer-form input[type="email"],
.main-footer-form textarea {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  text-transform: capitalize;
}

.main-footer-form input[type="text"]:hover,
.main-footer-form input[type="email"]:hover,
.main-footer-form textarea:hover {
  background-color: gray;
  color: white;
  border-color: white;
}

.main-footer-form input[type="text"]:hover::placeholder,
.main-footer-form input[type="email"]:hover::placeholder,
.main-footer-form textarea:hover::placeholder {
  color: white;
}

.main-footer-form textarea {
  width: 500px;
  height: 170px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  resize: none;
}

input[placeholder],
textarea[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color: #445161;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}  

.main-footer-form input[type="submit"] {
  border-radius: 5px;
  background-color:  #ffffff;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  font-family: Arial;
  color:  #445161;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  outline: none;
}

.main-footer-form input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

.main-footer-form input[type="submit"]:active {
  background-color:  #ffffff;
  color:  #445162;
}

.main-footer-contacts {
  margin: 0;
  height: 200px;
  clear: both;
}

.footer-address {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.footer-address:nth-child(4) {
  margin-bottom: 0;
}

.main-footer-sm {
  position: absolute;
  top: 320px;
  left: 815px;
  }

.social-media {
  font-family: Socialico;
  font-size: 60px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.footer-down {
  margin: 0;
  height: 23px;
  font-size: 13px;
  color: #445161;
  font-family: Arial;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
}

.footer-down-a {
  text-decoration: none;
  color: #445161;
}

audio {
  display: block;
  margin: 0 auto;
}